jicofo {
  {% if jitsi_meet_secure_domain_enabled %}
  authentication {
    type = XMPP
    enabled = true
  }
  {% endif %}
  xmpp {
    client {
      enabled = true
      hostname = "localhost"
      domain = "auth.{{ jitsi_fqdn }}"
      username = "{{ jitsi_meet_jicofo_user }}"
      password = "{{ jitsi_meet_jicofo_password }}"
      conference-muc-jid = "conference.{{ jitsi_fqdn }}"
      client-proxy = "focus.{{ jitsi_fqdn }}"
      disable-certificate-verification = false
    }
  }
  bridge {
  {% if jitsi_octo_enabled %}
      selection-strategy = RegionBasedBridgeSelectionStrategy
  {% else %}
      selection-strategy = SingleBridgeSelectionStrategy
  {% endif %}
  }
  {% if jitsi_octo_enabled %}
  octo {
      enabled = true
  }
  {% endif %}
}
