# Jitsi Conference Focus settings
# sets the host name of the XMPP server
#JICOFO_HOST=localhost
#
## sets the XMPP domain (default: none)
#JICOFO_HOSTNAME={{ jitsi_fqdn }}
#
## sets the secret used to authenticate as an XMPP component
#JICOFO_SECRET={{ jitsi_meet_jicofo_secret }}
#
## sets the port to use for the XMPP component connection
#JICOFO_PORT={{ jitsi_meet_jicofo_port }}
#
## sets the XMPP domain name to use for XMPP user logins
#JICOFO_AUTH_DOMAIN=auth.{{ jitsi_fqdn }}
#
## sets the username to use for XMPP user logins
#JICOFO_AUTH_USER={{ jitsi_meet_jicofo_user }}
#
## sets the password to use for XMPP user logins
#JICOFO_AUTH_PASSWORD={{ jitsi_meet_jicofo_password }}

# extra options to pass to the jicofo daemon
JICOFO_OPTS=""

# adds java system props that are passed to jicofo (default are for home and logging config file)
JAVA_SYS_PROPS="-Dnet.java.sip.communicator.SC_HOME_DIR_LOCATION=/etc/jitsi -Dnet.java.sip.communicator.SC_HOME_DIR_NAME=jicofo -Dnet.java.sip.communicator.SC_LOG_DIR_LOCATION=/var/log/jitsi -Djava.util.logging.config.file=/etc/jitsi/jicofo/logging.properties -Dconfig.file=/etc/jitsi/jicofo/jicofo.conf"
