[Unit]
Description=Jitsi Exporter
After=network-online.target
StartLimitInterval=0

[Service]
User=jvb
ExecStart=/usr/local/bin/jitsi-exporter -url {{ jitsi_exporter_scrape_url }} -host 0.0.0.0 -port 9700
SyslogIdentifier=jitsi-exporter
Restart=always
RestartSec=1
IPAddressDeny=any
IPAddressAllow=localhost 10.0.0.0/8 192.168.0.0/16 172.16.0.0/12
PrivateTmp=yes
ProtectHome=yes
NoNewPrivileges=yes
ProtectSystem=strict
ProtectControlGroups=true
ProtectKernelModules=true
ProtectKernelTunables=yes
PrivateDevices=yes
DevicePolicy=closed
RestrictAddressFamilies=AF_UNIX AF_INET AF_INET6 AF_NETLINK
RestrictNamespaces=yes
RestrictRealtime=yes
RestrictSUIDSGID=yes
MemoryDenyWriteExecute=yes
LockPersonality=yes

[Install]
WantedBy=multi-user.target
