videobridge {
    http-servers {
        public {
            port = 9090
        }
    }
    websockets {
        enabled = true
        domain = "{{ jitsi_fqdn }}:443"
        tls = true
    }
    {% if jitsi_octo_enabled %}
    octo {
        enabled = true
        region="{{ jitsi_region }}"
        bind-address="{{ jitsi_private_ip }}"
        bind-port=4096
        public-address="{{ ipify_public_ip }}"
    }
{% endif %}
   apis {
      # enable colibri
      rest {
        enabled = true
      }
    }
}
